:root {
    --font-playfair: 'Playfair Display', serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --black: #000000;
    --orange: #F2994A;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-4: #BDBDBD;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

#loading {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__icon {
    width: 90px;
    height: 90px;
    background: transparent;
    border: 10px solid lightgray;
    border-top-color: var(--orange);
    border-radius: 50%;
    animation: spinner 1.5s ease-in-out infinite;
}

article {
    opacity: 0;
    padding: 0 .7em;
    max-width: 576px;
    margin: 0 auto;
}

.article {
    animation: showContent 1.5s ease-in;
    animation-fill-mode: forwards;
}

.heading__h1 {
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 1.5em;
    margin: 1.2em 0 .55em;
}

.heading__p {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-style: italic;
    font-size: .8em;
    color: var(--gray-2);
    margin: 0 0 2.25em;
    line-height: 1.45;
    
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: .85em;
}

.heading__p img { margin-top: .35em; }

.image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container-text { margin-top: 1.4em; }

.timing {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1.6em;
    
    font-family: var(--font-montserrat);
}

.timing__item {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, auto);
    row-gap: .2em;
}

.timing__item:first-child {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.timing__item:nth-child(1n+2) {
    grid-row: 2 / span 1;
}

.timing__item:nth-child(1n+3) {
    column-gap: .2em;
}

.timing__icon {
    color: var(--gray-2);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
}

.timing__icon--orange { color: var(--orange); }

.timing__title {
    text-transform: uppercase;
    color: var(--gray-4);
    font-weight: 700;
    font-size: .55em;
    line-height: 1.7em;
    justify-self: flex-start;
}

.timing__desc {
    color: var(--gray-1);
    font-weight: 500;
    font-size: .63em;
    justify-self: flex-start;
}

.timing__desc--orange { color: var(--orange); }


.ingredients {
    color: var(--gray-1);
    margin-top: 2.75em;
}

.ingredients__title {
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 1.125em;
    margin-bottom: .75em;
}

.ingredients__subtitle {
    font-family: var(--font-playfair);
    font-weight: 400;
    font-style: italic;
}

.ingredients__subtitle--graham {
    font-size: 1em;
    margin: 0 0 1.85em;
}

.ingredients__subtitle--cake {
    font-size: 1.125em;
    margin: 2.6em 0 1.5em;
}

.ingredients__p {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: .875em;
    
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    column-gap: .7em;
}

.container__checkbox {
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
}

input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.ingredients__label {
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    border-radius: 3px;
    
    transition: all .5s;
}

input[type="checkbox"]:checked + .ingredients__label {
    background-color: var(--orange);
    border-radius: 50%;
}

.ingredients__bold { font-weight: 700; }

#italic-span {
    font-style: italic;
    font-weight: 500;
}

.instructions__title {
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 1.4em;
    margin: 1.6em 0 1.55em;
}

.instructions__step {
    margin-bottom: 2.3em;
    
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: flex-start;
    column-gap: 1em;
}

.instructions__number {
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 1.3em;
    color: #fff;
    background-color: var(--orange);
    padding: .25em .5em;
    text-align: center;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding-bottom: .5em;
    border-radius: 15%;
}

.instructions__p {
    font-family: var(--font-montserrat);
    font-size: .95em;
    font-weight: 400;
    margin: 0;
    line-height: 1.4em;
}

.bold-span { font-weight: 700; }

.source {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: italic;
    font-size: .75em;
    color: var(--gray-4);
    
    margin-bottom: 10em;
}

.source__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.footer {
    text-align: center;
    font-family: var(--font-montserrat);
    color: #828282;
    font-size: .875em;
}

.footer__p { font-weight: 500; }

.footer__link {
    font-weight: 700;
    color: inherit;
}

/* MEDIA QUERIES */
 @media only screen and (min-width: 330px) {
    .timing__item:nth-child(3) { column-gap: .1em; }
    
    @media only screen and (min-width: 360px) {
        .timing { justify-content: initial; }
        
        .timing__item:nth-child(3) { column-gap: 0; }
    }
}

@media only screen and (min-width: 790px) {
    article { max-width: 700px; }
}

@media only screen and (min-width: 990px) {
    article { max-width: 1100px; }
    
    .heading__h1 {
        font-size: 2.35em;
        margin-top: .85em;
    }
    
    .heading__p {
        width: 580px;
        font-size: .865em;
    }
    
    .heading__p img { width: 14.5px; }
    
    #container-text {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1.7fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .timing {
        align-self: flex-start;
        justify-self: flex-end;
        padding: 1.65em 1.25em;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .timing__item {
        margin: .9em 0;
        grid-template-columns: auto auto;
        column-gap: .7em;
    }
    
    .timing__item:nth-child(1n+3) {
        column-gap: .7em;
    }
    
    .timing__title { font-size: .5625em; }
    
    .timing__desc { font-size: .75em; }
    
    .ingredients { margin: 0; }
    
    .ingredients__title {
        margin-top: 0;
        font-size: 1.5em;
    }
    
    .ingredients__subtitle {
        font-size: 1.125em;
    }
    
    .ingredients__p { font-size: .95em; }
    
    .instructions__title { font-size: 1.5em; }
    
    .instructions__step { column-gap: 1.15em; }
    
    .instructions__number {
        width: 36px;
        height: 36px;
        font-size: 1.4em;
    }
    
    .instructions__p { font-size: .98em; }
    
    .source { font-size: .9em; }
    
    .source__link { display: inline-block; }
}

@media only screen and (min-width: 1100px) {
    .heading__h1 { font-size: 2.55em; }
}

@keyframes spinner {
    100% { transform: rotate(360deg); }
}

@keyframes showContent {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
